<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Учителя</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h2>Список преподвателя</h2>
    <p>Ниже представлен список доступных тестов, которые можно проходить</p>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Предмет</th>
            ,<th>Стаж</th>
        </tr>
        <tr th:each="teacher: ${teachers}">
            <th th:text = "${teacher.id}"></th>
            <th th:text="${teacher.name}"></th>
            <th th:text = "${teacher.subject}"></th>
            <th th:text = "${teacher.experience}"></th>
        </tr>
    </table>

    <th><a th:href = "@{/questionnaires}">Посмотреть все доступные методики</a></th>
    <p></p>
    <p><th><a th:href = "@{/teachers/experience}">Фильтровать по опыту работы</a></th></p>
    <p><th><a th:href = "@{/teachers/subjects}">Фильтровать по предмету</a></th></p>

</body>
</html>